/* Colores
Principal: 181f2c
Secundario: ff4745
----------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    color: #181f2c;
    font-family: Helvetica;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
}

strong, b, th {
    font-variant: small-caps;
    font-weight: bold;
    color: #181f2c;
}

.negrita {
    color: #181f2c;
    padding-left: 10px;
}

img {
    border: none;
    margin: 0;
    padding: 0;
    display: inline;
}

br.clear {
    clear: both;
    margin-top: -15px;
}

p {
    line-height: 20px;
}

a {
    outline: none;
    text-decoration: none;
    color: #181f2c;
}

    a:hover {
        color: #ff4745;
    }

div.wrapper {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 820px;
}

table {
    border: 0 solid #CCC;
    border-collapse: collapse;
    margin-bottom: 15px;
    table-layout: auto;
    vertical-align: top;
}

    table th {
        border-collapse: collapse;
        table-layout: auto;
        text-align: left;
        vertical-align: middle;
    }

    table tbody td {
        border-collapse: collapse;
        border-left: 0 solid #CCC;
        border-right: 0 solid #CCC;
        vertical-align: top;
    }

    table thead th, table tbody td {
        border-collapse: collapse;
        padding: 5px;
    }

/* Titulo y Barra de Navegacion */
/* ----------------------------------------------------------------- */
#langbar {
    margin: 20px 0 0;
    padding: 0px;
    display: block;
    text-align: right;
}

#topbar {
    margin: 30px;
    background-color: #181f2c;
}

    #topbar .fl_left {
        margin: 0;
        padding: 8px 10px 0;
        display: block;
        float: left;
        color: white;
    }

#topnav {
    display: block;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

    #topnav ul, #topnav li {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        #topnav li a:link, #topnav li a:visited, #topnav li a:hover {
            color: #FFF;
            display: block;
            margin: 0;
            padding: 15px 20px;
        }

        #topnav ul ul li a:link, #topnav ul ul li a:visited {
            border: none;
        }

        #topnav li.last a {
            margin-right: 0;
        }

        #topnav li a:hover, #topnav ul li.active a {
            background-color: #ff4745;
            color: #FFF;
        }

        #topnav li li a:link, #topnav li li a:visited {
            background-color: #ff4745;
            float: none;
            margin: 0;
            padding: 7px 10px;
            width: 150px;
        }

        #topnav li li a:hover {
            background-color: #C80000;
            color: #FFF;
        }

/* Cuadro con informacion */
/* ----------------------------------------------------------------- */
#intro {
    display: block;
    width: 760px;
    margin: 5px 0 0 0;
    padding: 30px 30px 20px 30px;
    background-color: #FFF;
}

    #intro .fl_left {
        display: block;
        float: left;
        margin-left: 30px;
        width: 550px;
    }

    #intro .fl_rigth {
        display: block;
        float: right;
        margin-right: 30px;
    }

        #intro .fl_rigth img {
            width: 120px;
        }

/* Pestañas */
/* ----------------------------------------------------------------- */
.tab {
    margin: 40px 10px 10px 10px;
}

.tabinactive {
    display: none;
}

.documento {
    width: 160px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    float: left;
}

.curso {
    width: 240px;
    padding: 13px;
    text-align: center;
    float: left;
}


/* Timeline */
/* ----------------------------------------------------------------- */
#cvtimeline {
    margin: 20px auto;
}

#timeline {
    background: url(../images/dot.gif) left 45px repeat-x;
    height: 400px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    text-align: justify;
    width: 800px;
}

#dates {
    height: 60px;
    overflow: hidden;
    width: 800px;
}

    #dates li {
        background: url(../images/biggerdot.png) center bottom no-repeat;
        float: left;
        height: 50px;
        list-style: none;
        text-align: center;
        width: 170px;
        font-variant: small-caps;
        font-weight: bold;
    }

    #dates a {
        line-height: 18px;
        padding-bottom: 10px;
    }


#issues {
    height: 350px;
    overflow: hidden;
    width: 800px;
}

    #issues li {
        float: left;
        height: 400px;
        list-style: none;
        width: 800px;
    }

        #issues li img {
            background: transparent;
            float: left;
            margin: 45px 30px 10px 50px;
        }

        #issues li h1 {
            margin: 0;
            font-size: 18px;
        }

        #issues li h2 {
            margin: 0 0 15px;
            font-size: 10px;
            font-style: italic;
        }

        #issues li p {
            margin: 0 50px 0 0;
        }

#next, #prev {
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 38px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 170px;
    width: 22px;
}

    #next:hover, #prev:hover {
        background-position: 0 -38px;
    }

#next {
    background-image: url(../images/next.png);
    right: 0;
}

#prev {
    background-image: url(../images/prev.png);
    left: 0;
}

    #next.disabled, #prev.disabled {
        opacity: 0.2;
    }
